#navbar{
    width: 100%;
    position:fixed; z-index: 4;

    .navContent {
        display: grid;
        width: 100%;
    }

    .navLayer {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        pointer-events: none;
    }

    .navClickLayer {
        pointer-events: auto;
        position: relative;
        z-index: 1;
    }

    .menuBTN{
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
    }
    .logo{
        width: auto;
        &.white{
            filter: brightness(1) invert(0);
        }
        &.dark{
            filter: brightness(0) invert(0);
        }
    }

}
