#navbar{
    width: 100%;
    // padding: 60px 3vw ;
    display: flex;
    justify-content: space-between;
    position:fixed; z-index: 4;
    // mix-blend-mode: difference;

    .menuBTN{
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
    }
    .logo{
        width: auto;
        transition: 0.4s;
        &.white{
            filter: brightness(1) invert(0);
        }
        &.dark{
            filter: brightness(0) invert(0); /* Rend l'élément complètement noir */
        }
    }
}