@import 'tailwindcss';


@font-face {
  font-family: HelveticaRegular;
  src: url("/typos/HelveticaNeue-01.ttf");
}
@font-face {
  font-family: HelveticaMedium;
  src: url("/typos/HelveticaNeue-Medium-11.ttf");
}
@font-face {
  font-family: HelveticaBold;
  src: url("/typos/HelveticaNeue-Bold-02.ttf");
}
@font-face {
  font-family: Migra;
  src: url("/typos/MigraItalic-Extralightitalic.otf");
}
@font-face {
  font-family: Hardbop;
  src: url("/typos/HARDBOP/hardbop-regular.otf");
  ascent-override: 90%;
}

@font-face {
  font-family: TenTwentyExtraLight;
  src: url("/typos/TEN TWENTY/tentwenty-extralightitalic-1.otf");
}

@font-face {
  font-family: Roboto;
  src: url("/typos/ROBOTO/Roboto-Regular.ttf");
}
@font-face {
  font-family: RobotoLight;
  src: url("/typos/ROBOTO/Roboto-Thin.ttf");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: HelveticaRegular;
  background-color: #000000;
  color: white;
}
p > span {
  font-family: Migra;
  text-transform: capitalize;
}
body::-webkit-scrollbar {
  display: none;
}
html {
  /* scroll-behavior: smooth; */
  scroll-behavior: cubic-bezier(0.23, 1, 0.32, 1);
}
*::selection {
  background: #7357ff;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
.container-txt {
  overflow: hidden;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
.containerTransitions {
  position: fixed;
  z-index: 55;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(55, 55, 55, 1) 0%,
    rgba(159, 208, 27, 1) 100%,
    rgba(115, 87, 255, 1) 100%
  );
}

.reveal-container {
  overflow: hidden;
}
.show {
  opacity: 1 !important;
}
.revealed {
  animation: reveal ease;
  animation-duration: 1s;
}
.reveal-container > p {
  transform-origin: left;
}
.reveal-container {
  opacity: 0;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0%);
  }
}

.anim {
  > img {
    animation: slideImg 1.2s ease-in-out;
    animation-delay: 0.4s;
  }
}

.anim::after {
  animation: revealImg 1.2s ease-in-out;
}
.slideUpInfoImg {
  animation: reveal-text-img 1.2s linear;
}
@keyframes slideImg {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes revealImg {
  0% {
    min-height: 0%;
    bottom: 0;
  }
  25% {
    min-height: 100%;
    bottom: 0;
  }
  50% {
    min-height: 100%;
    top: 0;
  }
  75% {
    min-height: 100%;
    top: 0;
  }
  100% {
    min-height: 0%;
    top: 0;
  }
}
@keyframes reveal-text-img {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    transform: translateY(-19px);
    opacity: 0;
  }
  50% {
    transform: translateY(19px);
    opacity: 0;
  }
  75% {
    transform: translateY(19px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

[data-scroll-container] {
  height: 100vh;
  overflow: hidden; /* Assure-toi que le scroll est activé */
}

.cursor {
  z-index: 100;
  background-color: #ff4c24;
  border: 1px solid #ff4c24;
  border-radius: 100em;
  width: 1em;
  height: 1em;
  transition: background-color .375s cubic-bezier(.625, .05, 0, 1), height .375s cubic-bezier(.625, .05, 0, 1), width .375s cubic-bezier(.625, .05, 0, 1);
  position: fixed;
  inset: 0% auto auto 0%;
  pointer-events: none;
}

body:has( a:hover) .cursor,
body:has( button:hover) .cursor,
body:has( [data-cursor]:hover) .cursor{
  width: 3em;
  height: 3em;
  background-color: rgba(255, 76, 36, 0.3);
}

@media (hover: none) and (pointer: coarse) {
  .cursor {
    display: none;
  }
}