@import 'tailwindcss';
body{
  scroll-behavior: smooth;
}
nextjs-portal {
  display: none;
}
a{
  text-decoration: none!important
}

@font-face {
  font-family: HelveticaRegular;
  src: url("/typos/HelveticaNeue-01.ttf");
}
@font-face {
  font-family: HelveticaMedium;
  src: url("/typos/HelveticaNeue-Medium-11.ttf");
}
@font-face {
  font-family: HelveticaBold;
  src: url("/typos/HelveticaNeue-Bold-02.ttf");
}
@font-face {
  font-family: Migra;
  src: url("/typos/MigraItalic-ExtralightItalic.otf");
}
@font-face {
  font-family: MigraNormal;
  src: url("/typos/Migra-ExtraLight.otf");
}
@font-face {
  font-family: TenTwenty;
  src: url("/typos/TEN TWENTY/tentwenty-regular-1.otf");
}
@font-face {
  font-family: TenTwentyExtraLightItalic;
  src: url("/typos/TEN TWENTY/tentwenty-extralightitalic-1.otf");
}
@font-face {
  font-family: robotoThin;
  src: url("/typos/ROBOTO/roboto-Thin.ttf");
}
@font-face {
  font-family: robotoCondensed;
  src: url("/typos/ROBOTO/Roboto-Condensed.ttf");
}
.robotoThin {
  font-family: robotoThin;
}
@font-face {
  font-family: robotoRegular;
  src: url("/typos/ROBOTO/roboto-Regular.ttf");
}
.robotoReg {
  font-family: robotoRegular;
}
@font-face {
  font-family: Hardbop;
  src: url("/typos/HARDBOP/hardbop-regular.otf");
  ascent-override: 90%;
}
@font-face {
  font-family: HardbopBlack;
  src: url("/typos/HARDBOP/hardbop-black.otf");
  ascent-override: 90%;
}
@font-face {
  font-family: HardbopNormal;
  src: url("/typos/HARDBOP/hardbop-normal.otf");
  ascent-override: 90%;
}
@font-face {
  font-family: HardbopLight;
  src: url("/typos/HARDBOP/hardbop-light.otf");
  ascent-override: 90%;
}
.hardbop-normal{
  font-family:HardbopNormal ;
}
.hardbop-light{
  font-family:HardbopLight ;
}
@font-face {
  font-family: HardbopBold;
  src: url("/typos/HARDBOP/hardbop-bold.otf");
  ascent-override: 90%;
}
@font-face {
  font-family: HardbopUltraBold;
  src: url("/typos/HARDBOP/hardbop-ultrabold.otf");
  ascent-override: 90%;
}
@font-face {
  font-family: TenTwentyExtraLight;
  src: url("/typos/TEN TWENTY/tentwenty-extralight-1.otf");
  ascent-override: 90%;
}

@font-face {
  font-family: TenTwenty;
  src: url("/typos/TEN TWENTY/tentwenty-regular-1.otf");
}
@font-face {
  font-family: TenTwentyThin;
  src: url("/typos/TEN TWENTY/tentwenty-thin-1.otf");
  ascent-override: 90%;
}
.tenTwenty{
  font-family: TenTwenty;
}
.tenTwentyThin{
  font-family: TenTwentyThin!important
}

@font-face {
  font-family: Roboto;
  src: url("/typos/ROBOTO/Roboto-Regular.ttf");
}
@font-face {
  font-family: RobotoBold;
  src: url("/typos/ROBOTO/Roboto-Bold.ttf");
  ascent-override: 90%;

}
@font-face {
  font-family: RobotoMonoLight;
  src: url("/typos/ROBOTO MONO/RobotoMono-Light.ttf");
}
@font-face {
  font-family: RobotoMono;
  src: url("/typos/ROBOTO MONO/RobotoMono-Regular.ttf");
}
@font-face {
  font-family: RobotoMonoMedium;
  src: url("/typos/ROBOTO MONO/RobotoMono-Medium.ttf");
}
.robotoMonoMedium{
  font-family: RobotoMonoMedium;
}
.robotoRegular{
  font-family: RobotoMono;
}
@font-face {
  font-family: RobotoLight;
  src: url("/typos/ROBOTO/Roboto-Thin.ttf");
}
:root {
  --tilted-container-height: 180px;
  --tilted-div-height: 30px;
  --img-bottom-height: calc(var(--tilted-container-height) - var(--tilted-div-height));
}
html,
li{
  margin: 0!important;
}
body {
  padding: 0;
  margin: 0;
  font-family: HelveticaRegular;
  background-color: #000000;
  color: white;
}
#socials svg path {
  fill: black!important; /* Ensure default fill is black */
}
#socials svg:hover path {
  fill: white!important; /* Change to white on hover */
}
.roboto{
  font-family: Roboto;
}
.robotoBold{
  font-family: RobotoBold;
}
.hardbop-bold{
  font-family: HardbopBold;
}
.harbop{
  font-family: Hardbop;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.bigH2{
    text-align: center;
    font-family: HardbopUltraBold;
    font-size: 285pt;
    line-height: 217pt;
    /* font-size: 13vw;
    line-height: 10vw; */
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    /* z-index: 5; */
}
.gallery{
  text-align: center;
  font-family: hardbopBlack;
  font-size: 248pt;
  line-height: 189pt;
  /* font-size: 13vw;
  line-height: 10vw; */
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* z-index: 5; */
}
/* p > span:not(.tenTwenty) {
  font-family: Migra;
  text-transform: capitalize;
} */
/* p>span.tenTwenty{
  font-family: TenTwentyExtraLight;
} */

body::-webkit-scrollbar {
  display: none;
}
html {
  /* scroll-behavior: smooth; */
  scroll-behavior: cubic-bezier(0.23, 1, 0.32, 1);
}
*::selection {
  background: #7357ff;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
.container-txt {
  overflow: hidden;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
.containerTransitions {
  position: fixed;
  z-index: 55;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(55, 55, 55, 1) 0%,
    rgba(159, 208, 27, 1) 100%,
    rgba(115, 87, 255, 1) 100%
  );
}

.reveal-container {
  overflow: hidden;
}
.show {
  opacity: 1 !important;
}
.revealed {
  animation: reveal ease;
  animation-duration: 1s;
}
.reveal-container > p {
  transform-origin: left;
}
.reveal-container {
  opacity: 0;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0%);
  }
}

.anim {
  > img {
    animation: slideImg 1.2s ease-in-out;
    animation-delay: 0.4s;
  }
}

.anim::after {
  animation: revealImg 1.2s ease-in-out;
}
.slideUpInfoImg {
  animation: reveal-text-img 1.3s linear;
}
@keyframes slideImg {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes revealImg {
  0% {
    min-height: 0%;
    bottom: 0;
  }
  25% {
    min-height: 100%;
    bottom: 0;
  }
  50% {
    min-height: 100%;
    top: 0;
  }
  75% {
    min-height: 100%;
    top: 0;
  }
  100% {
    min-height: 0%;
    top: 0;
  }
}
@keyframes reveal-text-img {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
    opacity: 0;
  }
  75% {
    transform: translateY(5px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

[data-scroll-container] {
  height: 100vh;
  overflow: hidden; /* Assure-toi que le scroll est activé */
}

.bg-half-col{
  background: linear-gradient(to bottom, #fa6218 50%, black 50%);
}
.cursor {
  z-index: 100;
  background-color: #ff4c24;
  border: 1px solid #ff4c24;
  border-radius: 100em;
  width: 1em;
  height: 1em;
  transition: background-color .375s cubic-bezier(.625, .05, 0, 1), height .375s cubic-bezier(.625, .05, 0, 1), width .375s cubic-bezier(.625, .05, 0, 1);
  position: fixed;
  inset: 0% auto auto 0%;
  pointer-events: none;
}
.defaultText{
  font-size: 20px;
  font-family: RobotoMono;
  line-height: 28px;
  opacity: 55%
}

body:has( a:hover) .cursor,
body:has( button:hover) .cursor,
body:has( [data-cursor]:hover) .cursor{
  width: 3em;
  height: 3em;
  background-color: rgba(255, 76, 36, 0.3);
}

@media (hover: none) and (pointer: coarse) {
  .cursor {
    display: none;
  }
}


/* Configuration du conteneur */
.marquee-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

/* Style pour le contenu défilant */
.marquee-content {
  flex-shrink: 0;
  display: flex;
  animation: scrolling 30s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Déplace de 100% au lieu de 50% */
  }
}
.scroll-text{
  line-height: 14vw;
}

.scroll-text:nth-child(even) {
  color: transparent;
  background-color: black;
  -webkit-text-stroke: 2px #888; /* Pour Chrome, Safari */
  text-stroke: 2px #888; /* Pour Firefox */
}

/* Style pour les éléments impairs (1er, 3e, etc.) - texte noir sur fond gris */
.scroll-text:nth-child(odd) {
  color: #888;
}
.image-plan{
  height: calc(100vh - (0.32rem * 42));
  width: 100%;
}

.writing-mode-vertical {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
}
.hardbopBlack{
  font-family: HardbopBlack;
  line-height: 0.8;
}
.collaborationTitle {
  font-family: HardbopBlack;
  line-height: 0.8;
  /* // padding: 0.1 0; */
  bottom: 4%;
  left: 0%;
  /* // -ms-transform: translateY(-50%);
  // transform: translateY(-50%); */
  /* position: absolute; */
  z-index: 1;

  .prefix{
    font-size: 54pt;
    font-family: TenTwentyThin;
    /* margin-right: 0.5em; */
  }

  &.div:last-child {
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1) 1.15s;
    overflow: hidden;
    margin-top: 0.05em;
    line-height: 0.75;
    height: calc(1em * 0.8);
    span {
      display: inline-block;
      animation: cycleText 8s cubic-bezier(0.23, 1, 0.32, 1) infinite;
      
      p {
          height: calc(1em * 0.8);
          margin: 0;
          padding: 0;
      }
    }
  }
  .suffix{
    font-family: robotoCondensed;
    font-size: 96pt
  }
  /* p > span > p{
    font-family: MigraNormal;
    display: flex;
    align-items: center;
    line-height: inherit;
    margin-top: 4px;
    margin-right: 4px;
  } */
}

@media screen and (max-width: 1620px) {
  .bigH2{
    font-size: 22vw; /* Plus petit sur mobile mais toujours impactant */
    line-height: 19vw;
    /* Optionnel: ajuster l'espacement */
    /* letter-spacing: -0.02em; */
  }
  .gallery{
    font-size: 20vw;
    line-height: 0.8;
  }
  .gallery > p > span{
    font-size: 10vw;
  }
}
.st0 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 40;
  stroke-width: 3px;
}

.st1 {
  fill: #fff;
}